*
!/main/
!/main/*.cpp
!/main/*.h

!/lib/
!/lib/**/
!/lib/**/*.c
!/lib/**/*.cpp
!/lib/**/*.h
!/lib/**/*.hpp
!/lib/**/*.hxx

!/test/
!/test/**/
!/test/**/*.cpp
!/test/**/*.h
!/test/**/data/**/*.json


!/**/BUILD
!WORKSPACE

!config.json
!run.json

!.gitignore
